<section class="categories-section section-padding" id="categories-section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5">Quick <span>starts</span></h2>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div class="categories-block upscaler">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                        <small class="categories-block-title">Upscaler</small>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div class="categories-block real-image">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                        <small class="categories-block-title">Real Images</small>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div class="categories-block animated">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                        <small class="categories-block-title">Animated</small>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div class="categories-block background-removal">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                        <small class="categories-block-title">Background Removal</small>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div class="categories-block frame-interpolation">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                        <small class="categories-block-title">Frame Interpolation</small>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
