<body>
    <div class="container">
        <div class="wraper">
            <img src="../../../assets//img//VhkF.gif" alt="Your GIF">
            <div class="signup-container__main">
                <div class="signup-container__title">Sign Up</div>
                <form class="signup-form">
                    <div class="signup-form__input">
                        <label for="username">Username</label>
                        <input id="username" type="text" />
                    </div>
                    <div class="signup-form__input">
                        <label for="email">Email</label>
                        <input id="email" type="email" />
                    </div>
                    <div class="signup-form__input">
                        <label for="password">Password</label>
                        <input id="password" type="password" />
                    </div>
                    <div class="signup-form__input">
                        <label for="confirm-password">Confirm Password</label>
                        <input id="confirm-password" type="password" />
                    </div>
                    <button class="signup-form__button">SIGN UP</button>
                    <div class="existing-user__sign-in">Already have an account?<a href="#"> Sign in</a></div>
                </form>
            </div>
        </div>
    </div>
</body>